## Project Based

## Data Files
dist/
files/*
files
logs/*
logs
*.log
*.csv
src/*.txt
*.config
*.pdf
*.docx
*.zip
*.7z
*.rar
*.doc
*.json
*.idea

#Development files
*/dev/*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Visual Studio?
__pycache__

# Environments
.env*
.venv
.vscode
*.egg-info
env/
venv/
ENV/
env.bak/
venv.bak/
